.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
env/
build/
python/benchmark_*.csv
python/dist/

.DS_Store
inst/
python/rebuild.sh
python/tdavec.egg-info/
python/tdavec/__pycache__/
python/tdavec/benchmark_old/
python/tdavec/tdavec_core.c
src/Limits-3c634664.o.tmp
/doc/
/Meta/
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
main.pdf
*.synctex.gz
*.fdb_latexmk
.vscode/
.ipynb_checkpoints/

TDAvec_0.1.5.tar.gz
python/install.md
python/test.ipynb
